
# BEGIN ShortPixelWebp
# Dyrektywy zawarte między "BEGIN ShortPixelWebp" oraz "END ShortPixelWebp"
# są generowane dynamicznie i powinny być modyfikowane tylko za pomocą
# filtrów WordPressa. Zmiany dokonane bezpośrednio tutaj będą nadpisywane.

# END ShortPixelWebp